//Global
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-family: main,tahoma;
	color: #FFF;
}

//Variables
:root {

	--secondary-color: #bbbacb;
}

button {
	color: #320918;
	background: #f67464;

	border:none;
	border-radius:5px;

	padding:10px 20px;
	margin:10px 0;

	width:100%;
	max-width:400px;

	cursor:pointer;
}

.bw-stage {
	max-width:700px;
	margin:10px auto;
}

.bw-stage#ticket {
	h2 {
		font-size:50px;
	}
}

#sender-fullname {

	background: linear-gradient(to right,#f67464,#FFF);
	background-clip:text;
	-webkit-text-fill-color: transparent;
}

#sender-email {
	color: #f67464;
}

#ticket-body {

	position:relative;

	display:flex;
	flex-direction:column;
	justify-content: space-between;

	background: url('../images/pattern-ticket.svg') 50% 50%/cover no-repeat;

	padding:10px;
	margin:100px auto 20px;
	
	height:250px;
	width:537px;
	
	#ticket-github-username,.secondary {
		font-size:18px;
	}
	
	> header,#ticket-personal-info {
	
		display:grid;
		grid-template-areas: "IMAGE TITLE" "IMAGE DESC";
		justify-content:flex-start;
		align-items:center;
		
		padding:20px;
		
		> img { grid-area: IMAGE;margin-inline-end:20px;}
		
		> h4,#ticket-full-name {
			grid-area: TITLE;
			margin:0;
			font-size:30px;
		}
		> h4 { font-size:45px;}
		
		> .secondary,#ticket-github-username {
		
			display:flex;
			justify-content:flex-start;
			align-items:center;
		
			grid-area: DESC;
			
			margin:0;
			
			color: #FFFA;
		}
	}
	
	#hash-number {
	
		writing-mode: vertical-rl;
		
		position:absolute;
		right:0;
		top:0;
		
		padding:30px;
		
		height:100%;
		
		font-size:40px;
		
		color:darkgray;
	}
}

#file-uploaded {

	button {

		background: #FFF4;

		margin-inline:5px;

		font-size:12px;

		padding:5px 10px;
	}
}

.form-field {
	position:relative;

	max-width:400px;
	width:100%;

	display:flex;
	align-items: flex-start;
	justify-content: flex-start;

	flex-direction: column;

	margin:25px auto;

	&.error {

		input,.file {
			border-color: #dc3545;
		}

		&::before,&::after {

			position:absolute;
			top:calc(100% + 2.5px);
			left:20px;
			width:calc(100% - 20px);

			color: #dc3545;
			opacity:0.75;

			text-align:left;

			font-size:12px;

			content:'';
		}

		&::before {
			background: url('../images/icon-info.svg') left bottom/12.5px no-repeat;
			height:12.5px;
			left:0;
			background-blend-mode: difference;
			background-color: #dc3545;
			mix-blend-mode: hard-light;
			width: 12.5px;
			border-radius: 90q;
		}

		&::after {
			content: attr(err);
		}
	}

	label {
		margin-bottom: 5px;
	}

	input {

		width:100%;

		padding:10px 20px;

		border:1px solid var(--secondary-color);

		background:#FFF3;

		border-radius:5px;
	
		&:focus,&:focus-visible {

			box-shadow:0 0 0 2px var(--secondary-color);
			outline: 1px solid #000;
		}
	}

	.file {

		border:2px dashed #FFF3;
		border-radius:10px;

		background: #FFF1;

		padding:15px 20px 5px;

		width:100%;

		&:focus-within {

			box-shadow:0 0 0 2px var(--secondary-color);
			outline: 1px solid #000;
		}

		img {

			padding:5px;

			border-radius: 10px;

			color: #FFF2;
			background: #FFF2;
			border:1px solid currentColor;

			box-shadow:0 1px currentColor;
		}

		input[type='file'] {

			opacity:0;

			position:absolute;
			inset:0;
			width:100%;
			height:100%;

			cursor:pointer;
		}

		&:hover {

			background: #FFF2;
		}
	}
}

.secondary {

	color: var(--secondary-color);
}

.x-small {
	font-size:10px;
}

footer.attribution {

	width:100%;
	background:#FFF1;
	padding:7.5px;
	font-size:12px;
}

//- Phone View & Default
body {
	min-height:100vh;

	padding:10px;

	text-align:center;

	background: 
	url('../images/pattern-lines.svg') top/cover,
	url('../images/pattern-squiggly-line-top.svg') 100% -7.5%/25% 25% no-repeat,
	url('../images/pattern-circle.svg') -10% -12.5%/25% 25% no-repeat,
	url('../images/pattern-squiggly-line-bottom-mobile-tablet.svg') bottom/100% no-repeat,
	url('../images/background-mobile.png') 50% 50%/cover;
}

#site-identity {

	padding:25px 10px;

	font-size:18px;

	display:flex;
	align-items:center;
	justify-content:center;

	img {
		margin-inline-end: 7.5px;
	}
}

//- Medium Size
@media(min-width:672px) {
	body {
		background:
		url('../images/pattern-lines.svg') top/cover,
		url('../images/pattern-squiggly-line-top.svg') 100% -5%/25% 25% no-repeat,
		url('../images/pattern-circle.svg') 40px -80px/200px no-repeat,
		url('../images/pattern-circle.svg') calc(100% - 200px) calc(100% - 200px)/200px no-repeat,
		url('../images/pattern-squiggly-line-bottom-desktop.svg') bottom left/50% no-repeat,
		url('../images/background-tablet.png') 50% 50%/cover;
	}

	h2 {
		font-size:40px;
	}
}

//- Large Size
@media(min-width: 1024px) {
	body {
		background:
		url('../images/pattern-lines.svg') top/cover,
		url('../images/pattern-squiggly-line-top.svg') 100% -5%/25% 25% no-repeat,
		url('../images/pattern-circle.svg') 40px -80px/200px no-repeat,
		url('../images/pattern-circle.svg') calc(100% - 200px) calc(100% - 200px)/200px no-repeat,
		url('../images/pattern-squiggly-line-bottom-desktop.svg') bottom left/50% no-repeat,
		url('../images/background-desktop.png') 50% 50%/cover;
	}
}

//Main Font
@font-face {
	font-family: main;
	src: url('../fonts/Inconsolata-VariableFont_wdth\,wght.ttf');
}